.course-type-main-container{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.modal-layout-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.label-container {
    background-color: #e6f6ff;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
}

.inside-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-list-container {
    display: flex;
    gap: 10px;
}
.pencil-icon {
    cursor: pointer;
}